@import "mixins/mixins";

.el-roadToListing-box {
  display: flex;
  position: relative;
}
.el-roadToListing-box:last-child {
  margin-right: 0 !important;
}

.el-roadToListing-box:last-child .el-liner {
  display: none;
}
@include b(roadToListings) {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@include b(roadToListing) {
  display: flex;
  width: 64px;
  height: 64px;
  font-size: 14px;
  font-family: $--family;
  align-items: center;
  color: $--color-primary;
  text-align: center;
  display: flex;
  border-radius: 50%;
  opacity: 1;
  & > main {
    max-width: 40px;
    word-break:break-all;
    line-height: 20px;
    margin: auto;
  }
}

@include b(done) {
  background: #FFFFFF;
  border: 1px solid $--color-primary;
  font-weight: 400;
  &:hover {
    background: #EDF4FF;
  }
}
@include b(now) {
  background: #FFFFFF;
  font-weight: bold;
  position: relative;
  &:hover {
    background: #EDF4FF;
  }
  &::after {
    display: block;
    position: absolute;
    background: linear-gradient(#558ECF, #1051B5);
    height: 100%;
    width: 64px;
    left: -8px;
    height: 64px;
    z-index: -1;
    padding: 8px;
    border-radius: 50%;
    content: '';
  }
}
@include b(wait) {
  background: #F5F5F5;  
  border: 1px solid #BFBFBF;
  font-weight: 400;
  color: #BFBFBF;
  &:hover {
    background: #EDF4FF;
    border: 1px solid $--color-primary;
    color: $--color-primary;
  }
}
@include b(liner) {
  position: absolute;
  height: 20px;
  left: 32px;
  top: 50%;
  margin-top: -10px;
  z-index: -2;
}
@include bliner(done) {
  background: linear-gradient(90deg, #558ECF 0%, #1051B5 100%);
}
@include bliner(now) {
  border: 1px solid #EBEBEB;
}
@include bliner(wait) {
  border: 1px solid #EBEBEB;
}