$marginminiATop: -50px;
$margininitATop: -80px;
$marginbigTop: -111px;
$marginOversizedTop: -150px;
$marginATop: -111px;

.canton {
  overflow: hidden;
}
.canton-Oversized {
  & > .psvg {
    // margin-top: $marginOversizedTop;
  }
}
.canton-big {
  & > .psvg {
    margin-top: $marginbigTop;
  }
}
.canton-mini {
  & > .psvg {
    margin-top: $marginminiATop;
  }
}
.canton-init {
  & > .psvg {
    margin-top: $margininitATop;
  }
}
.psvg {
  & > footer {
    padding: 50px 20px 0 20px;
    display: flex;
    justify-content: center;
    display: flex;
    & > div:not(:first-child) {
      margin-left: 45px;
    }
  }
}
// svg polygon:hover {
//   stroke: #1051B5 !important;
//   stroke-width: 1 !important;
// }