$marginminiATop: -50px;
$margininitATop: -80px;
$marginbigTop: -90px;
$marginOversizedTop: -150px;
$marginATop: -111px;

.canton {
  overflow: hidden;
}
.canton-Oversized {
  width: 700px !important;
}
.canton-init {
  width: 600px !important;
}
.canton-mini {
  width: 350px !important;
}
.psvg {
  & > footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    // & > div:not(:first-child) {
    //   margin-left: 45px;
    // }
  }
}